torch>=2.7.0
torchaudio>=2.7.0
torchvision>=0.22.0
torchmetrics>=1.4.0
numpy>=2.0
pandas>=2.2.2
tqdm
matplotlib
soundfile
librosa>=0.10.2
pystoi>=0.4
wandb
comet_ml
hydra-core
transformers>=4.40.0
peft>=0.10.0
torchcodec
gdown

black
isort
pre-commit
